@use '../abstracts/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family:  'Inter', Arial, sans-serif;;
    line-height: 1.6;
    color: $text-dark;
    background-color: $bg-light;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}