@use '../abstracts/variables' as *;
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight-bold;
    line-height: 1.2;
    margin-bottom: $spacing-sm;
}

h1 {
    font-size: $font-size-xl;
}

h2 {
    font-size: $font-size-lg;
}

p {
    margin-bottom: $spacing-md;

    &:last-child {
        margin-bottom: 0;
    }
}

small {
    font-size: $font-size-sm;
}